<!-- templates/search.html -->
{% extends "base.html" %}

{% block title %} Search results for {{search_term}} {% endblock title %}


{% block content %}

    <!-- Main Section -->
    <div class="container">
      <h3 class="heading font-weight-light">Search results for "{{search_term}}"</h3>
      <hr />
    </div>

    <div class="container main-part">
      <!-- Card for details -->

      <!-- 1. check if contacts exists or not -->
      {% if contacts %}

        <!-- 2. if contacts exists run for loop -->
        {% for contact in contacts %}

          {% include "./shared/_card.html" %}

        {% endfor %}
        <!-- 2. end if contacts exists run for loop -->

      <!-- if contacts not exists -->
      {% else %}  
      <p class="d-block font-weight-light m-2 heading">No search result found for: <i style="color:#0D716F;">{{search_term}}</i> !</p>
      {% endif %}
      <!-- 1. end if contacts not exists -->

      <!-- End Card for details -->

    </div>
    <!-- Main Section ends-->

{% endblock content %}
